<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="ISO-8859-1">
<title>myWeb1.0</title>
<style>
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	margin: 15px;
	padding: 20px;
	margin: 15px;
}
</style>
</head>
<body>

	<div ng-controller="TitlesController">
		Search Title: <br> <input type="text" ng-model="name" /> <br>Total:{{total}}<br>
		<ul>
			<li ng-repeat="item in items |filter: name"><a
				href="https://www.youtube.com/watch?v={{item.snippet.resourceId.videoId}}"
				target="_blank"><img
					alt="{{item.snippet.thumbnails.medium.url}}"
					src="https://i1.ytimg.com/vi/{{item.snippet.resourceId.videoId}}/movieposter.jpg"
					width="175" height="252" /></a></li>
		</ul>
	</div>


	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
	<script>
		function TitlesController($scope, $http) {

			var pl = [ 'PLzTiNL8wJzyC5oN0EmViMQmd2YUYRq574','PLzTiNL8wJzyCFCSeQHPIUg1wbC0ggFx6E','PLzTiNL8wJzyD7HkP-_m6bm_E5q9SC20Qs','PLaEL1LTyEXg1n9fcF5ZE-3SwuwY7oIvRZ',
					'PLoBDkJXxnuE66Hi8GBRCF9KNBWNo_TlDW',
					'PLuPm_Z49ejrdOZuPuxDnkTfuFAlgFnb2Y','PLzTiNL8wJzyCHD9JHNqAAmDQT16oJmoAq','PLzTiNL8wJzyA2kUs7E_8NnfEK1zS9YHRR','PLSPuDpldWomv6mVNPTDl3zGlCAj8QTR68','PLSPuDpldWomscMEj8v_YIXDz1amhgKEJq' ];
			$http.defaults.headers.common.Authorization = 'Bearer ya29.1.AADtN_UXWHluoukyW8gfHVOU65EF2HQgMuUenMEc8Yz843G9qEsdHj8NxeZkeqc';

			var myvec = [];

			angular
					.forEach(
							pl,
							function(value, key) {
								
								
								$http
										.get(
												'https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&playlistId='
														+ value
														+ '&maxResults=50&fields=items(snippet(title,resourceId(videoId),thumbnails(medium)))')
										.success(function(data) {
											myvec = myvec.concat(data.items);
											$scope.items = myvec;
											$scope.total=myvec.length;
										});

							});

			

		}
	</script>
</body>
</html>